table {
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.66rem;
}

nav {
  padding-left: 200px;
}

h3 {
  padding: 10px;
}

iframe {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 70%;
}
